//Import Partials
@import 'partials/normalize';
// Variables
$Abel: 'Abel',sans-serif;
$Ubuntu: 'Ubuntu',sans-serif;
$ubiqum-orange: #f30;
$ubiqum-grey: #333333;
$light-grey: #666666;
// Mixins
@mixin row-nowrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap
}

@mixin row-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap
}

@mixin column-nowrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

@mixin flex-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@mixin flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@mixin flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@mixin align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

//Style
* {
  /*      border: 1px solid black;*/
}

header {
  @include row-nowrap;
  background-color: $ubiqum-orange;
  padding: 15px;
  .halfleftheader {
    width: 100%;
    @include row-nowrap;
    @include flex-start;
    @include align-center;
    #logo {
      padding: 10px;
      width: 100px;
      height: 100px;
      border: 2px solid white;
      border-radius: 70%;
    }
    h1 {
      line-height: 52px;
      font-family: $Ubuntu;
      font-size: 48px;
      color: white;
      margin-left: 10px;
      #ubiqum {
        color: $ubiqum-grey;
      }
    }
  }
  .halfrightheader {
    @include row-nowrap;
    @include flex-end;
    @include align-end;
    width: 100%;
    margin-bottom: -15px;
    margin-right: -10px;
    form {
      font-family: $Ubuntu;
      padding: 5px;
      margin: 5px;
      background-color: $ubiqum-orange;
      text-align: center;
      color: white;
      font-size: 16px;
      #search {
        background: transparent;
        border: 0;
        border-bottom: 1px solid white;
        outline: none;
      }
       ::-webkit-input-placeholder {
        padding-left: 5px;
        color: rgba(255, 255, 255, 0.53);
      }
       :-ms-input-placeholder {
        padding-left: 5px;
        color: rgba(255, 255, 255, 0.53);
      }
       ::placeholder {
        padding-left: 5px;
        color: rgba(255, 255, 255, 0.53);
      }
    }
    .icon {
      height: 30px;
      width: 30px;
    }
    .grid,
    .list {
      cursor: pointer;
      font-family: $Ubuntu;
      font-weight: bold;
      padding: 5px;
      margin: 5px;
      background-color: $ubiqum-orange;
      text-align: center;
      color: white;
    }
    .filters {
      cursor: pointer;
      font-family: $Ubuntu;
      font-weight: bold;
      padding: 5px;
      margin: 5px;
      background-color: $ubiqum-orange;
      text-align: center;
      color: white;
    }
  }
}

.panelContainer {
  position: fixed;
  width: 100%;
  z-index: 1029;
  .ppanel {
    display: none;
    position: fixed;
    left: 48%;
    width: 100%;
    height: 75px;
    background-color: $ubiqum-orange;
    margin-top: -25px;
    margin-right: 15px;
    padding: 25px;
    .filter-button-group {
      @include row-nowrap;
      @include align-center;
      @include flex-start;
      font-family: $Ubuntu;
      padding: 1px;
      color: white;
      font-size: 16px;
      .btn {
        background: transparent;
        margin: 10px;
      }
    }
  }
}

section {
  margin-top: 150px;
  padding: 15px;
  article {
    color: $light-grey;
    font-family: $Abel;
    font-size: 24px;
    line-height: 110%;
    margin: 25px 0px;
    .webDescription {
      font-size: 30px;
      line-height: 150%;
    }
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: $ubiqum-orange;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    font-size: 36px;
  }
  #myBtn:hover {
    color: #555;
    /* Add a dark-grey background on hover */
  }
}

footer{
  @include row-nowrap;
  @include flex-center;
  @include align-center;
  color: $light-grey;
  font-family: $Abel;
  font-size: 18px;
  font-weight: bold;
  line-height: 110%;
  margin: 15px;
}

/* Style for the grid view*/

.booksRail{
  @include row-wrap;
  @include flex-center;
}

.bookBox {
  -webkit-perspective: 1000;
  perspective: 1000;
  position: relative;
  display: block;
  cursor: pointer;
  overflow: hidden;
  width: 17%;
  width: 190px;
  height: 290px;
  margin: 15px;
  z-index: 1;
}

.book,
.bookCover,
.cover {
  width: 100%;
  height: 100%;
}

.book {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1.0s linear;
  transition: all 1.0s linear;
}

.bookCover {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bookDescription{
  @include column-nowrap;
  @include flex-between;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, .8);
}

.bookBox:hover .book {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-box-shadow: -5px 5px 5px #aaa;
  box-shadow: -5px 5px 5px #aaa;
}

.bookTitle,
.bookLanguage {
  font-family: $Abel;
  font-weight: bold;
  position: relative;
  font-size: 150%;
}

.bookTitle {
  color: $ubiqum-orange;
}

.bookLanguage {
  color: darkgrey;
}

.description {
  font-family: "Arial";
  position: relative;
  font-size: 80%;
  color: white;
}

.btn-link {
  color: $ubiqum-orange;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
  outline: none;
}

.bookBox:hover .book {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-box-shadow: -5px 5px 5px #aaa;
  box-shadow: -5px 5px 5px #aaa;
}

/* Style for the list view*/

.listRail {
  @include column-nowrap;
  @include flex-center;
  width: 100%;
  padding: 15px;
}

.listBox {
  margin: 15px 15px;
  border-bottom: 1px solid $ubiqum-grey;
}

.listBook{
  @include row-nowrap;
  padding: 15px;
}

.listCover {
  padding: 15px;
}

.secondCover {
  min-width: 200px;
  max-width: 200px;
  min-height: 300px;
  max-height: 300px;
}

.listDescription{
  @include column-nowrap;
  @include flex-between;
  width: 100%;
  padding: 15px;
}

.secondDescription {
  font-family: "Arial";
  position: relative;
  font-size: 100%;
  color: $ubiqum-grey;
}

/* Book Details*/

.bookDetails {}
